# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
* Languages used for Data Science
* How to create Tables with the Markdown language
* How to do arithmetic operations

Some of the popular languages that Data Scientists use are:
1. SQL
2. Python
3. R
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Pandas
3. Seaborn

| Data Science Tools |
|--------------------|
|     R Studio       |
|    Jupyter lab     |
|   Apache Hadoop    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply the add integers.
(3*4) + 5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
hours = 200/60
print(hours)

3.3333333333333335

## Author
Ulrich Dimos